<p id="notice"><%= notice %></p>

<div class="page-header">
  <%= link_to scrape_methods_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_scrape_method_path(@scrape_method), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show Method</h1>
</div>

<p>
  <strong>Method:</strong>
  <%= @scrape_method.method %>
</p>

<p>
  <strong>Field:</strong>
  <%= @scrape_method.field.name %>
</p>
