<%= form_for(field, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if field.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(field.errors.count, "error") %> prohibited this scrape method from being saved:</h4>

      <ul>
      <% field.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class:'col-lg-2 control-label'  %>
    <div class="col-lg-10">
     <%= f.text_field :name, class: "form-control", required: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :schema_id, class:'col-lg-2 control-label'  %>
    <div class="col-lg-10">
      <%= f.select :schema_id, @schemas, {}, { class: "form-control", required: true } %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
